<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deer.wms.device.manage.dao.CheckProjectMapper">
  <resultMap id="BaseResultMap" type="com.deer.wms.device.manage.model.CheckProject">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="check_project_id" jdbcType="INTEGER" property="checkProjectId" />
    <result column="check_project_name" jdbcType="VARCHAR" property="checkProjectName" />
    <result column="device_id" jdbcType="INTEGER" property="deviceId" />
  </resultMap>

  <resultMap id="Dto" type="com.deer.wms.device.manage.model.CheckProjectDto"  extends="BaseResultMap">
      <result column="device_name" jdbcType="VARCHAR" property="deviceName" />
  </resultMap>

  <select id="findList" resultMap="Dto" parameterType="com.deer.wms.device.manage.model.CheckProjectCriteria">
      select
      *
      from check_project project
      left join device_info info on project.device_id = info.device_id
      where 1=1
      <if test="deviceId != null">
        and info.device_id = #{deviceId}
      </if>
  </select>
</mapper>