<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deer.wms.bill.manage.dao.BillRecordMapper">
  <resultMap id="BaseResultMap" type="com.deer.wms.bill.manage.model.BillRecord">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="bill_no" jdbcType="VARCHAR" property="billNo" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="demo" jdbcType="VARCHAR" property="demo" />
  </resultMap>

  <resultMap id="Dto" type="com.deer.wms.bill.manage.model.BillRecordDto" extends="BaseResultMap">


  </resultMap>

  <select id="findList" resultMap="Dto"  parameterType="com.deer.wms.bill.manage.model.BillRecordCriteria">
    select * from
    bill_record record
    where 1=1
    <if test="billNo != null and billNo != ''">
      and record.bill_no = #{billNo}
    </if>

    order  by create_time


  </select>
</mapper>