<!doctype html>
<html>

	<head>
		<title>组盘</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">

		<link href="../../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="pallet-down.css" />

	</head>

	<body>
		<header class="mui-bar mui-bar-nav  " style="height: 15%;">
			<br/>
			<br/>
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title"  >托盘下架</h1>
		</header>
		<div class="contain">
			<br/>
			<div class="mui-input-row mui-search" style="width: 74%;height:12%;top: 2%; left: 13%;">
				<input type="search" id="palletBarCode" style="width: 74%;margin-left: 13%;" v-model="palletBarCode" placeholder="扫描托盘条码">
			</div>

			<div class="order" style="height: auto;top: 0%;">

				<div class="rowData">
					<span class="name">当前托盘</span>
					<span class="value">{{pallet.palletCode}}</span>

				</div>

			</div>

			<div class="mui-input-row mui-search" style="width: 74%;height:12%;top: 12%; left: 13%;">
				<input type="search" id="CellBarCode" placeholder="扫描货位条码" v-model="cellBarCode">
			</div>
			<div class="order" style="height: auto;top: 10%;">

				<div class="rowData">
					<span class="name">当前货位</span>
					<span class="value">{{cell.cellCode}}</span>

				</div>

			</div>

			<br/>
			<br/>
			<br/>

			<br/>
			<br/>

			<div class="mui-content-padded">
				<button type="button" @click="commit()" class="mui-btn mui-btn-primary   ">确定</button>
				<br/>
				<br/>

			</div>

		</div>
		<script type="text/javascript" src="../../../config/dev.js"></script>
		<script type="text/javascript" src="../../../js/mui.js"></script>
		<script type="text/javascript" src="../../../libs/vue.js"></script>
		<script type="text/javascript" src="../../../libs/jquery.1.11.min.js"></script>
		<script type="text/javascript" src="pallet-downl.js"></script>

	</body>

</html>