<div class="modify-pwd-page-hook">
    <div class="title">
        当前位置：&nbsp;&nbsp;->&nbsp;<span class="active">个人信息</span>
    </div>
    <div class="member-info-page inner-wrapper">
        <h2>个人信息</h2>
        <div class="form member-info">
            <form class="form-horizontal update-pwd-form hide-show update-pwd-form-hook">
                <div class="form-group">
                    <span>原始密码:</span>
                    <input type="password" class="form-control input301" name="oldPassword" value="">
                </div>
                <div class="form-group">
                    <span>新&nbsp; 密&nbsp;码:</span>
                    <input type="password" class="form-control input301" name="password" id="newpwd" value="">
                </div>
                <div class="form-group">
                    <span>确认密码:</span>
                    <input type="password" class="form-control input301" name="confirmPassword" value="">
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-default return-hook">返回</button>
                    <button type="submit" class="btn btn-default left50 " >修改</button>
                </div>
            </form>
        </div>

    </div>
</div>

<script type="text/javascript" src="js/back/member/modify-pwd.js" custom></script>