<div class="header">
    <div class="inner-wrapper">
        <h1 class="logo"><a href="index"><img src="img/logo/logo-3.png"></a></h1>
        <!-- <h1 class="logo"><a href="index"><img src="img/mobileLogo/logo-3.png"></a></h1>-->
        <ul class="link link-hook">
            <li><a href="index">公司介绍</a></li>
            <li><a href="product">产品介绍</a></li>
            <li><a href="discounts">优惠介绍</a></li>
        </ul>
        <div class="entrance"><a href="login">平台入口</a></div>
    </div>
</div>