<div class="modify-supplier-hook">
    <div class="title">
        当前位置：&nbsp;&nbsp;->&nbsp;组织机构&nbsp;->&nbsp;机构管理&nbsp;->&nbsp;供应商管理&nbsp;->&nbsp;<span
            class="active">修改-供应商信息</span>
    </div>
    <div class="inner-wrapper">
        <h2>修改-供应商信息</h2>
        <div class="form">
            <form class="form-horizontal form-hook">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">企业名称</label>
                            <div class="col-sm-9">
                                <!--<input type="text" name="companyName" class="form-control"-->
                                       <!--v-model="info.companyName">-->
                                <p class="form-control-static" v-text="info.companyName"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">法人名称</label>
                            <div class="col-sm-9">
                                <!--<input type="text" name="artificialPersonName" class="form-control"-->
                                       <!--v-model="info.artificialPersonName">-->
                                <p class="form-control-static" v-text="info.artificialPersonName"></p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">法人身份证号</label>
                            <div class="col-sm-9">
                                <!--<input type="text" name="artificialPersonIdCard" class="form-control"-->
                                       <!--v-model="info.artificialPersonIdCard">-->
                                <p class="form-control-static" v-text="info.artificialPersonIdCard"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">统一社会信用代码</label>
                            <div class="col-sm-9">
                                <!--<input type="text" name="creditCode" class="form-control"-->
                                       <!--v-model="info.creditCode">-->
                                <p class="form-control-static" v-text="info.creditCode"></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">企业注册地址</label>
                            <div class="col-sm-9">
                                <!--<input type="text" name="registeredAddress" class="form-control"-->
                                       <!--v-model="info.registeredAddress">-->
                                <p class="form-control-static" v-text="info.registeredAddress"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">企业成立时间</label>
                            <div class="col-sm-9">
                                <!--<input type="text" name="establishDate" class="form-control"-->
                                       <!--v-model="info.establishDate">-->
                                <p class="form-control-static" v-text="info.establishDate"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">联系地址</label>
                            <div id="linkmanAddress-map"></div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control"
                                       v-model="info.linkmanAddress1" autocomplete="off" id="linkmanAddress">
                                <input type="hidden" name="linkmanAddress" v-model="info.linkmanAddress" >
                                <ul class="linkmanAddress_list" id="linkmanAddress_list">
                                    <!--<li v-for="item in list" @click="addressSelected(item)">{{item.title + ',' + item.address}}</li>-->
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">联系电话</label>
                            <div class="col-sm-9">
                                <input type="text" name="linkmanPhone" class="form-control"
                                       v-model="info.linkmanPhone">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">供应能力</label>
                            <div class="col-sm-g">
                                <input type="text" class="form-control" name="supplyAbility"
                                       placeholder="请输入供应能力(万块/月)" v-model="info.supplyAbility">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">位置坐标，纬度</label>
                            <div class="col-sm-g">
                                <!--<input type="text" class="form-control" name="lat"-->
                                       <!--placeholder="请输入经度,例:103,12345678"-->
                                       <!--v-model="info.lat">-->
                                <p class="form-control-static">
                                <span v-text="info.lon"></span>,
                                <span v-text="info.lat"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">营业执照</label>
                            <div class="col-sm-9">
                                <div class="form-control-static">
                                    <div class="hide-opacity">
                                        <input type="file" name="license" id="license">
                                        <input type="file" name="cardFront" id="cardFront">
                                        <input type="file" name="cardContrary" id="cardContrary">
                                    </div>
                                    <div class="img">
                                        <img :src="license" alt="" width="116" height="115"
                                             @click="previewImg($event)">
                                        <!--<span><a @click="uploadImg($event,'license')">点击上传</a></span>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">法人身份证</label>
                            <div class="col-sm-9">
                                <div class="form-control-static">
                                    <div class="img">
                                        <img :src="cardFront" alt="" width="116" height="115"
                                             @click="previewImg($event)">
                                        <span>
                                            正面
                                            <!--<a @click="uploadImg($event,'cardFront')">点击上传</a>-->
                                        </span>
                                    </div>
                                    <div class="img">
                                        <img :src="cardContrary" width="116" height="115"
                                             @click="previewImg($event)">
                                        <span>
                                            反面
                                            <!--<a @click="uploadImg($event,'cardContrary')">点击上传</a>-->
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">保存</button>
                            <button type="button" class="btn btn-gray-sm" @click.stop="goBack()">返回</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" src="js/back/organization/supplier/modify-supplier.js" custom></script>


































